body {
    margin: 0;
    padding: 0;
}
@keyframes into-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
#container {
    width: 580px;
    height: 400px;
    margin: 0 auto;
    display: block;
    padding: 20px;
    float: left;
} 
#container::after{
  content: "";
  clear: both;
  display: block;
}
#intro {
    background-image: url('../img/logo01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    height: 100vh;
    width: 100%;
    position: relative;
    -webkit-animation: into-animation 7s infinite; /* Safari 4+ */
    -moz-animation:    into-animation 7s infinite; /* Fx 5+ */
    -o-animation:      into-animation 7s infinite; /* Opera 12+ */
    animation:         into-animation 7s infinite; /* IE 10+, Fx 29+ */
    
}
.eggs {
    display: inline-block;
    width: 33px;
    height: 50px;
    border: 1px solid black;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    margin-right: 3px;
}
.blankSpace{
    height: 150px;
}
#mainColor {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    position: relative;
    display: inline-block;
    visibility: hidden;
    margin-top: 20px;
    margin-left: 20px;
}
#instruction, #time {
    font-family: Arial, Tahoma;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
#finalScore {
    height: 20px;
    width: 20px;
    font-family: Arial, Tahoma;
    font-size: 16px;
    font-weight: 700;
    color: red;
}
#timeCount{
    font-family: Arial, Tahoma;
    font-size: 14px;
}
#clear {
    visibility: hidden;
    background-color: orange;
	font-size: 18px;
	font-weight: 700px;
	text-decoration: none;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
	position: absolute;
	border-radius: 12px;
    padding: 8px 22px;
	margin: 15px -05px;
}
#start {
    background-color: orange;
	font-size: 18px;
	font-weight: 700px;
	text-decoration: none;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
	position: absolute;
	border-radius: 12px;
    padding: 8px 22px;
	margin: 15px 115px;
}
